{% extends "bootstrap/base.html" %} 
{% block body %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
<div class="container-fluid p-0">
  <div class="header-image">
    <img src="{{ url_for('static', filename='img/bottombanner.png') }}" alt="Imagen de encabezado">
  </div>

  <div class="container text-center mt-5">
    <h1 class="text-bg-warning">Mangslator</h1>

    <form
      id="uploadForm"
      action="./upload"
      method="post"
      enctype="multipart/form-data"
      class="text-center mt-3"
    >
      <label class="custom-file-upload">
        <input 
          type="file" 
          name="file" 
          id="fileInput" 
          multiple 
          accept=".jpg, .jpeg, .png, .gif" 
        />
        Elegir Archivos
      </label>
      <a href="/mangslator-web/gallery" class="btn btn-info mt-2">Traducir</a>
    </form>

    <div id="image-preview" class="d-flex flex-wrap justify-content-center mt-3">
      {% for path in imagenes %}
      <div class="m-2">
        <img src="{{'..'+path}}" alt="{{ path }} " width="50%" />
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}